.contact {
    padding-top: 30px;
}

.contact h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.contactContainer {
    padding: 30px, 0;
    width: 60%;
    margin: auto;
}

.contactItemsContainer span {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contactItemsContainer span a {
    color: inherit;
    text-decoration: inherit;
    transition: all .5s;
}

.contactItemsContainer span a:hover {
    color: #673FD7;
}

.contactItemsContainer p{
    display: inline-block;
    margin-left: 30px;
}

.mailContainer input {
    width: 100%;
}

.mailContainer textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.sendMailButton {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
}

.sendMailButton:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (max-width: 950px) {
    .contactContainer {
        width: 90%;
    }

    .sendMailButton {
        margin: auto;
    }

    .buttonContainer {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .contactItemsContainer span {
        font-size: 0.8em;
    }

    .contactItemsContainer p {
        margin-left: 10px;
    }
}

@media (max-width: 360px) {
    .contactItemsContainer span {
        font-size: 0.7em;
    }

    .contactItemsContainer p {
        margin-left: 5px;
    }
}