.navbarContainer {
    position: relative;
}

.navbar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.navbarMobile {
    background-color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbarMobile button {
    margin: auto;
}

.navbarMobile button svg {
    color: white;
    font-size: 2rem;
}

.navbar a {
    float: right;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.4s;
}

.navbar a:hover {
    color: #e73c7e;
}

.navbar .logo {
    float: left;
}

.navbarLinksMobile {
    /* position: absolute;
    top: 56px; */
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    transition: 0.4s;
}

.navbarLinksMobile span {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.navbarLinksMobile span a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.4s;
}